<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        backupGlobals="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutCoversAnnotation="false"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="true"
        colors="true"
        columns="67"
        forceCoversAnnotation="true"
        stderr="true"
        verbose="true"
>
    <testsuites>
        <testsuite
                name=""
        >
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist
                processUncoveredFilesFromWhitelist="true"
        >
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log
                showUncoveredFiles="true"
                target="var/coverage/clover.xml"
                type="coverage-clover"
        />
        <log
                showUncoveredFiles="true"
                target="var/coverage/html"
                type="coverage-html"
        />
    </logging>
</phpunit>
