<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        columns="max"
        colors="true"
        forceCoversAnnotation="true"
        processIsolation="true"
        stderr="true"
        verbose="true"
>
    <testsuites>
        <testsuite
                name=""
        >
            <directory>tests</directory>
        </testsuite>
        <testsuite
                name="access"
        >
            <directory>tests/Access</directory>
        </testsuite>
        <testsuite
                name="authentication"
        >
            <directory>tests/Authentication</directory>
        </testsuite>
        <testsuite
                name="data"
        >
            <directory>tests/Data</directory>
        </testsuite>
        <testsuite
                name="model"
        >
            <directory>tests/Access/Model</directory>
            <directory>tests/Authentication/Model</directory>
            <directory>tests/Data/Model</directory>
        </testsuite>
        <testsuite
                name="util"
        >
            <directory>tests/Util</directory>
        </testsuite>
    </testsuites>
</phpunit>
