<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        beStrictAboutCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        columns="max"
        colors="true"
        forceCoversAnnotation="true"
        processIsolation="true"
        stderr="true"
        verbose="true"
>
    <testsuites>
        <testsuite
                name=""
        >
            <directory>tests</directory>
        </testsuite>
        <testsuite
                name="access"
        >
            <directory>tests/Access</directory>
            <directory>tests/Api/Access</directory>
            <directory>tests/Model/Access</directory>
            <directory>tests/RequestConfiguration/Access</directory>
            <directory>tests/Service/Access</directory>
        </testsuite>
        <testsuite
                name="authentication"
        >
            <directory>tests/Authentication</directory>
            <directory>tests/Api/Authentication</directory>
            <directory>tests/Model/Authentication</directory>
            <directory>tests/RequestConfiguration/Authentication</directory>
            <directory>tests/Service/Authentication</directory>
        </testsuite>
        <testsuite
                name="data"
        >
            <directory>tests/Data</directory>
            <directory>tests/Api/Data</directory>
            <directory>tests/Model/Data</directory>
            <directory>tests/RequestConfiguration/Data</directory>
            <directory>tests/Service/Data</directory>
        </testsuite>
        <testsuite
                name="api"
        >
            <directory>tests/Api</directory>
        </testsuite>
        <testsuite
                name="model"
        >
            <directory>tests/Model</directory>
        </testsuite>
        <testsuite
                name="request-configuration"
        >
            <directory>tests/RequestConfiguration</directory>
        </testsuite>
        <testsuite
                name="service"
        >
            <directory>tests/Service</directory>
        </testsuite>
        <testsuite
                name="util"
        >
            <directory>tests/Util</directory>
        </testsuite>
        <testsuite
                name="client"
        >
            <file>tests/ClientTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
