name: ci-tests

on:
  - push
  - pull_request

jobs:
  runUnitTests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['7.4']
    name: PHP ${{ matrix.php-versions }} tests

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          extensions: mbstring
          php-version: ${{ matrix.php-versions }}
          coverage: xdebug
        env:
          update: true

      - name: Setup Problem Matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Fetch dependencies
        run: composer install

      - name: Run tests
        run: vendor/bin/phpunit

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: var/coverage/clover.xml
